html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1d1d;
  color: #fff;
}
header {
  width: 100%;
  height: 80vh;
  background:url("../img/bg.png");
  background-position: bottom;
}
header .center {
  margin:0 auto;
  display: block;
  width: 75%;
  height: auto;
  padding-top: 25vh;
}
header .center h1, h2 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
header .center h1 {
  font-size: 9vw;
  font-weight: bold;
  color: #fff;
}
header .center h2 {
  font-size: 7vw;
  font-weight: 500;
  color: #ddd;
}
nav{
  display: flex;
  width: 100%;
  padding:20px;
  background: transparent;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.02);
  z-index: 2;
}
ul, .authlinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
nav a{
  text-decoration: none;
  color: #fff;
  margin: 0 40px;
  font-weight: 300;
}
nav a:hover {
  color: #ddd;
}
nav #logo{
  width: 200px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  color: #a82f2f;
  font-weight: bold;
}
#stage {
	width: 100%;
	height: 80%;
	background: transparent;
	position: absolute;
	overflow: hidden;
	top: 50px;
	left: 0;
	z-index: 1;
}
.line {
  width: 60px;
  height: 5px;
  background:#a82f2f;
  margin-top: 5px;
}
.wrapper {
  margin:0 auto;
  display: block;
  width: 60%;
}
.zapisy h1 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.zapisy .box1 {
  color:#717171;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0;
}
.btn-box{
  width: 40vw;
  border: #a82f2f 3px solid;
  color: #fff;
  margin:3vh 0 3vh 0;
  font-size: 1rem;
}
.btn-box:hover{
  color: #717171
}
.box{
  margin-top:5vh;
}
.box2  {
  font-size: 16px;
  color: #717171;
  font-weight: bold;
  padding-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}
.turniej {
  width: 100%;
  height: auto;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}
.turniej h1 {
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
  text-align: left;
}
.turniej p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  color: #717171;
  text-align: justify;
}
.faq {
  margin-top: 200px;
}
#wojtek{
  margin-top:150px;
}
.wojtek-content{
  display: flex;
  align-items: center;
  justify-content: center
}
#wojtek img{
  margin-top:100px;
  height: 350px;
}
#wojtek h1{
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
#wojtek h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin-top:50px;
}
#wojtek p{
  font-size: 20px;
  line-height: 23px;
  color: #8f8f8f;
}
.faq h1 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.accordion-item p {
  color: #9b9b9b
}
.faq .accordion {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.faq .accordion button {
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 1vh 0 ; 
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none;
}
.faq button {
  width: 100%;
  border: #a82f2f 3px solid;
  color: #fff;
  margin-top:2vh;
  font-size: 1rem;
}
.faq button:hover{
  color: #717171
}
.faq p {
  border-left: #a82f2f 2px solid;
  border-right: #a82f2f 2px solid;
  border-bottom: #a82f2f 2px solid;
  padding: 10px;
}
.sponsors {
  margin:150px 0 200px 0;
}
.sponsors h1 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #171717;
  margin-top: 100px;
}
footer p {
  padding: 18px;
  font-size: 14px;
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.sponsor-img{
  height: 150px;
  padding: 40px;
}

